In [8]:
import random
import numpy as np
import mysql.connector
import pandas as pd

In [9]:
data = pd.read_excel("czesci.xlsx")
data

                                                 nazwa
0                        "Filtr oleju: FILTRON OP 537"
1               "Filtr powietrza: Bosch F 026 400 115"
2                 "Filtr paliwa: MANN-FILTER WK 731/1"
3                        "Świece zapłonowe: NGK BKR6E"
4                  "Cewki zapłonowe: Bosch 0221504470"
..                                                 ...
100  "Zestaw naprawczy wtryskiwacza: BOSCH 1 467 01...
101              "Filtr paliwa: MAHLE ORIGINAL KC 158"
102                  "Filtr oleju: MANN-FILTER W 75/3"
103    "Olej silnikowy: Liqui Moly Top Tec 4200 5W-30"
104                         "Płyn hamulcowy: ATE SL.6"

[105 rows x 1 columns]

In [13]:
def price():
    return round(random.uniform(20, 200), 2)

data['Cena'] = data.iloc[:, 0].apply(lambda _: price())
data

                                                 nazwa    Cena
0                        "Filtr oleju: FILTRON OP 537"  108.86
1               "Filtr powietrza: Bosch F 026 400 115"  117.63
2                 "Filtr paliwa: MANN-FILTER WK 731/1"   94.53
3                        "Świece zapłonowe: NGK BKR6E"  102.08
4                  "Cewki zapłonowe: Bosch 0221504470"  105.38
..                                                 ...     ...
100  "Zestaw naprawczy wtryskiwacza: BOSCH 1 467 01...   28.09
101              "Filtr paliwa: MAHLE ORIGINAL KC 158"  131.84
102                  "Filtr oleju: MANN-FILTER W 75/3"  107.65
103    "Olej silnikowy: Liqui Moly Top Tec 4200 5W-30"  157.26
104                         "Płyn hamulcowy: ATE SL.6"  151.72

[105 rows x 2 columns]

In [15]:
def avaiable():
    return random.randint(0,15)

data['Ilość_dostępnych'] = data.iloc[:, 0].apply(lambda _: avaiable())
data

,nazwa,Cena,Ilość_dostępnych
0,"""Filtr oleju: FILTRON OP 537""",84.19,0
1,"""Filtr powietrza: Bosch F 026 400 115""",74.13,3
2,"""Filtr paliwa: MANN-FILTER WK 731/1""",76.46,14
3,"""Świece zapłonowe: NGK BKR6E""",77.22,5
4,"""Cewki zapłonowe: Bosch 0221504470""",43.35,3
...,...,...,...
100,"""Zestaw naprawczy wtryskiwacza: BOSCH 1 467 01...",181.44,7
101,"""Filtr paliwa: MAHLE ORIGINAL KC 158""",96.73,1
102,"""Filtr oleju: MANN-FILTER W 75/3""",196.25,14
103,"""Olej silnikowy: Liqui Moly Top Tec 4200 5W-30""",104.95,11
104,"""Płyn hamulcowy: ATE SL.6""",102.99,9

In [31]:
connection = mysql.connector.connect(
    host = "giniewicz.it",
    user = "team11",
    password = "te@m24ii",
    database = "team11"
)

if(connection):
    print("Połączenie udane")
else:
    print("Połączenie nieudane")

mycursor = connection.cursor()

Połączenie udane

In [27]:
mycursor.execute("DROP TABLE IF EXISTS części")

In [28]:
sql = '''CREATE TABLE części(
   id_części INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
   nazwa VARCHAR(100) NOT NULL,
   cena DECIMAL(15, 2) NOT NULL,
   ilość_dostępnych INT UNSIGNED NOT NULL
);'''

mycursor.execute(sql)

In [29]:
for d, row in data.iterrows():

    nazwa = row['nazwa']
    cena = row['Cena']
    ilosc_dostepnych = row['Ilość_dostępnych']
    
    sql = "INSERT INTO części (nazwa, cena, ilość_dostępnych) VALUES (%s, %s, %s)"
    val = (nazwa, cena, ilosc_dostepnych)
    
    mycursor.execute(sql, val)


connection.commit()
connection.close()

In [33]:
df = pd.read_sql("SELECT * FROM części", con=connection)
df

C:\Users\Agata\AppData\Local\Temp\ipykernel_6460\2320650588.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM części", con=connection)